<mat-card fxFlex="370px" fxFlexAlign="end end">
  <mat-card-header>
      <mat-card-title>Kérem adja meg bejelentkezési email címét és jelszavát!</mat-card-title>
      <mat-card-subtitle>*****</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="loginForm">
  <mat-card-content>
      <mat-form-field>
        <input type="email" matInput placeholder="Kérem az email címet!" formControlName="email">
        <mat-error>Érvénytelen vagy hiányzó email cím.</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Ügyeljen a kis és nagy betűk helyes írására!">
        <input type="password" matInput placeholder="Kérem a jelszót!" formControlName="password">
        <mat-error>Érvénytelen jelszó!!</mat-error>
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="center">
      <button  [disabled]="loginForm.invalid" type="submit" mat-raised-button (click)="onSubmit()" color="primary">Bejelentkezek a fiókomba</button>
  </mat-card-actions>
  <mat-card-footer>
      <mat-checkbox labelPosition="after" formControlName="agree" color="primary" style="margin-left: 16px">
        <p  style="padding-left: 8px" class="mat-small">Az applikáció működéséhez szükséges adatok tárolásához, <br> feldolgozásához hozzájárulok.</p>
      </mat-checkbox>
  </mat-card-footer>
  </form>
</mat-card>
