<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px">
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
<button (click)="onCancel()" fxFlex mat-raised-button><mat-icon class="mat-18">skip_previous</mat-icon></button>
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
</div>
<br>
<div *ngFor="let item of site$ | async">

<div fxLayout="column" fxLayoutAlign="center center">
  <span fxFlex>
    <a mat-raised-button matTooltip="új dolgozót is itt kell felvenni!" (click)="newSite(item.sites)" color="warn">Új helyszin felvétele</a>
  </span>
    <p style="text-align: center"><u> Helyszinekre kiadott eszközök:</u></p>
</div>

<section fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around start" id='back' >

  <mat-card cdkDrag fxFlex="180px" fxFlex.xs="100vw" id='card' *ngFor="let i of item.sites">
    <mat-card-header>
        <mat-card-subtitle><strong>{{i.name}}</strong></mat-card-subtitle>
        <mat-card-subtitle>{{i.info}}</mat-card-subtitle>
    </mat-card-header>
    <div fxLayout="row" fxLayoutAlign="space-around start" style="margin-top: 20px">
        <img matCardImage src="../../../assets/factory-plant.png" fxFlex="60%" class="img">
    </div>
  </mat-card>

</section>
<div fxLayout="column" fxLayoutAlign="center center">
  <span fxFlex>

  </span>
  <p fxFlex style="text-align: center"><u> Dolgozóknak kiadott eszközök:</u></p>
</div>

<section fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around start" id='back' >

    <mat-card cdkDrag fxFlex="180px" fxFlex.xs="100vw" id='card' *ngFor="let i of item.operators">
      <mat-card-header>
          <mat-card-subtitle><strong>{{i.name}}</strong></mat-card-subtitle>
          <mat-card-subtitle>{{i.position}}</mat-card-subtitle>
      </mat-card-header>
      <div fxLayout="row" fxLayoutAlign="space-around start" style="margin-top: 20px">
          <img matCardImage src="../../../assets/worker-icon.png" fxFlex="60%" class="img">
      </div>
  </mat-card>
  </section>
</div>
