<article style="border: black solid 1px;">
  <div style="margin-left: 5px; margin-top: 5px;">
<div *ngFor="let remark of remark$ | async">
<div *ngFor="let record of record$ | async">
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
  <div fxFlex="30">
    <div fxLayout="column" fxLayoutAlign.lt-md="center center">
      <div class="logo">
        <img  class="logo" src="../../../../../assets/H-ITB_logo_Stencil.jpg"
              alt="H-ITB" style="margin-bottom: 0px">
      </div>
      <span class="mat-subheading-2" style="margin-bottom:2px">
        <strong>Emelőgép Szakszolgálat</strong>
      </span>
      <span class="mat-caption">1119 Budapest Kelenvölgyi határsor 5</span>
      <span class="mat-caption">Tel.: (1) 205-6208  Fax.: (1) 205-6209</span>
      <span class="mat-caption">www.h-itb-hu  email: vizsgalat@h-itb.hu</span>
    </div>
  </div>
  <div fxFlex="42">
    <div fxLayout="column" fxLayoutAlign="center center">
      <span class="mat-title" style="margin: 8px 0">{{remark.kind | uppercase}}</span>
      <span class="mat-display-1" style="margin-bottom: 8px">JEGYZŐKÖNYV</span>
      <span class="mat-caption">Az Emelőgép Biztonsági Szabályzatáról szóló</span>
      <span class="mat-caption">47/1999 (VIII.4) GM rendelet melléklete szerint</span>
    </div>
  </div>
  <div fxFlex="25">
    <div fxLayout="column" fxLayoutAlign="center end" fxLayoutAlign.lt-md="center center" fxLayoutGap="6px">
     <span class="mat-caption" fxFlexOffset="16px">Jegyzőkönyv srsz:</span>
     <span style="border: solid black 2px; padding: 2px; min-width: 120px; text-align: center"><strong>{{remark.jkv | slice:0:6}} / {{srsz}}</strong></span>
     <span class="mat-caption">Gyártási szám:</span>
     <span style="border: solid black 2px; padding: 2px; min-width: 120px; text-align: center"><strong>{{id}}</strong></span>
    </div>
  </div>
</section>
<hr>
<div *ngFor="let it of product$ | async">
<div class="mat-caption">
  Az emelőgép üzemeltetője köteles az {{it.group}} rendeltetésszerű használatáról, biztonságos állapotának
  megörzéséről, az időszakos vizsgálatokról és a karbantartás szakszerű és rendszeres elvégzéséről
  gondoskodni.
</div>
<div class="mat-title" style="margin: 8px 0; text-align: center">
  <u>ÜZEMELTETŐ</u>
</div>
<br>
<div *ngFor="let specpr of specPr$ | async">
  <div *ngFor="let us of user$ | async">
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px" fxLayoutAlign="space-between">
  <div fxFlex="50">
    Cégnév: <strong>{{record.user}}</strong>
  </div>
  <div fxFlex="50">
    Cím: <strong>{{us.address}}</strong>
  </div>
  <div fxFlex="50">
    Üzemeltetés helyszíne: <strong>{{specpr.site}}</strong>
  </div>
</section>
  </div>
</div>
<br>
<hr>
<div class="mat-title" style="margin: 8px 0; text-align: center">
  <u>EMELŐGÉP MEGNEVEZÉSE</u>
</div>
<br>
  <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
    <div fxFlex="33" class="border">
      Típus: <strong>{{it.type}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Hossz: <strong>{{it.length}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Megnevezés: <strong>{{it.descreption}}</strong>
    </div>
  </section>
  <br>
  <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
    <div fxFlex="33" class="border">
      Teherbírás: <strong>{{it.capacity}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Gyártó: <strong>{{it.manufacturer}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Gyáriszám: <strong>{{id}}</strong>
    </div>
  </section>
</div>
<br>
<hr>
<div class="mat-title" style="margin: 8px 0; text-align: center">
  <u>{{record.action | uppercase}} MEGÁLLAPÍTÁSAI</u>
</div>
<br>
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
  <div fxFlex="20">
    Eredménye:
  </div>
  <div fxFlex="60" fxLayoutAlign="center center">
    <span class="mat-headline"><strong>{{remark.result| uppercase}}</strong></span>
  </div>
</section>
<br>
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
  <div fxFlex="49.5" class="border">
    {{remark.kind}} időpontja: <strong>{{record.dateOfAction}}</strong>
  </div>
  <div fxFlex="49.5" class="border">
    Érvényesség vége: <strong> 2020{{record.dateOfAction | slice: 4:10}}</strong>
  </div>
  <div fxFlex="100"></div>
  <br>
  <div fxFlex="99" fxLayoutAlign="start start"  fxLayoutGap="16px">
    <div> Megjegyzés:</div>
    <div>
    <strong>{{remark.comment}}</strong>
    </div>
  </div>
  <div fxFlex="99" fxLayoutAlign="start start"  fxLayoutGap="16px">
    <div>Felhasznált anyagok:</div>
    <div fxLayout="row wrap" fxLayoutGap="28px">
      <div *ngFor="let time of remark.parts">
        <strong>{{time.db }}</strong>
        <strong fxFlexOffset="8px">{{ time.mi}},</strong>
      </div>
    </div>
  </div>
</section>
<br>
<hr>
<br>
<div> Az elvégzett munka szakszerűségét igazolja:</div>
<br><br><br>
<div style="text-align: center">
  <strong>{{remark.done}}</strong>
  <div>Emelőgép ügyintéző</div>
</div>
<p>Dátum: Budapest, {{ today | date | slice: 7:12 }} {{ today | date | slice: 0:6 }}. </p>

</div>
</div>
  </div>
</article>
