<section fxLayout="row wrap" fxLayoutAlign="center center">
 <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Kiválasztott üzemeltető adatai</mat-card-title>
    <mat-card-subtitle *ngIf="!us">Nincsenek elérhető adatok az üzemeltetőről</mat-card-subtitle>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="40px" *ngFor="let item of user | async as list">

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Üzemeltető:</strong></div>
          <div fxFlex >{{item.user}}</div>
        </div>
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Cím:</strong></div>
          <div fxFlex>{{item.address}}</div>
        </div>
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Partner:</strong></div>
          <div fxFlex>{{item.partner}}</div>
        </div>
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Telefon:</strong></div>
          <div fxFlex>{{item.tel}}</div>
        </div>
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Email:</strong></div>
          <div fxFlex>{{item.email}}</div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field *ngIf="us">
        <mat-select placeholder="Mutasd a termékeket"
        (selectionChange)="onChange($event)">
          <mat-option *ngFor="let opt of selectOptions" [value]="opt.value">
          {{opt.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button  *ngIf="!us" mat-raised-button (click)="onClick()" color="primary">Adatbevitel</button>
    </mat-card-actions>
  </mat-card>
</section>
