<br>
<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 6px">
    <span fxFlex='50' style="background-color: #607D8B"><mat-divider></mat-divider></span>

    <span fxFlex='50' style="background-color: #607D8B"><mat-divider></mat-divider></span>
  </div>
  Meglévő eszközök kezelése:
<br>

<div class="list-container">
  <div class="todo-container column-container">
    <div class="list"
    cdkDropList
    #opList="cdkDropList"
    [cdkDropListData]="products"
    [cdkDropListConnectedTo]="readyList"
    (cdkDropListDropped)="onDrop($event)">
    <mat-card>
      <mat-card-header>
        <img matCardAvatar src="../../../assets/inspection.png">
        <mat-card-title>Üzembehelyezésre váró termékek:</mat-card-title>
        <mat-card-subtitle>Használatba vétel előtt</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
      <mat-card cdkDrag *ngFor="let item of products; let i = index">
        <mat-card-header>
          <div mat-card-avatar class="example-image"></div>
          <mat-card-title>{{item.type}} {{item.length}} {{item.descreption}}</mat-card-title>
          <button mat-icon-button color="accent" matTooltip="Üzembehelyezés" (click)="onOpStart(item)">
            <mat-icon class="mat-18">build</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Leselejtezés" (click)="delOperantee(item.gysz, i)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
          <mat-card-subtitle><strong>Gyáriszám:  {{item.gysz}}</strong></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>


  <div class="todo-container column-container">
    <div class="list"
    cdkDropList
    #readyList="cdkDropList"
    [cdkDropListData]="prod"
    [cdkDropListConnectedTo]="[opList, doneList]"
    (cdkDropListDropped)="onDrop($event)">
    <mat-card>
      <mat-card-header>
        <img matCardAvatar src="../../../assets/maintenance.jpg">
        <mat-card-title>Kiadható termékek:</mat-card-title>
        <mat-card-subtitle>Érvényes vizsgálattal rendelkező termékek:</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
      <mat-card *ngFor="let item of prod" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.type}} {{item.length}} {{item.descreption}}</mat-card-title>
          <mat-card-subtitle><strong>Gyáriszám:  {{item.gysz}}</strong></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>


<div class="done-container column-container">
    <div class="list"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="product"
    [cdkDropListConnectedTo]="readyList"
    (cdkDropListDropped)="onDrop($event)">
    <mat-card>
      <mat-card-header>
        <img matCardAvatar src="../../../assets/service.jpg">
        <mat-card-title>{{chosenSite.name}}</mat-card-title>
        <mat-card-subtitle>Használatba adott termékek:</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
      <mat-card cdkDrag *ngFor="let item of product">
        <mat-card-header>
            <div mat-card-avatar class="image"></div>
          <mat-card-title>{{item.type}} {{item.length}} {{item.descreption}}</mat-card-title>
          <mat-card-subtitle><strong>Gyáriszám:  {{item.gysz}}</strong></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
{{user}}
