.example-card {
    max-width: 400px;
    margin-top: 16px;
  }
.btn {
  margin-right: 50px;
}

  section {
    width: 100vw;
  }
  h1 {
    color: #3f51b5;
  }
.check {
  border: #3f51b5 solid 2px;
  padding: 8px 0;
}
