<div fxFlex="100" fxFlexOffset="80px">
<button mat-fab color="warn" (click)="onClick()" class="btn">
  Vissza
</button>
<button mat-fab color="primary" class="btn">
  Új
</button>
</div>
<mat-card class="example-card" *ngFor="let item of specProduct$ | async ">
  <mat-card-header>
    <mat-card-title>{{product.type}} {{product.length}} {{product.descreption}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <br>
  <mat-card-content>
    <div>
      <div fxLayout="row wrap">
        <div fxFlex><strong>Üzemeltető:</strong></div>
        <div fxFlex>{{item.user}}</div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex><strong>Helyszín:</strong></div>
        <div fxFlex>{{item.site}}</div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex><strong>Gyáriszám:</strong></div>
        <div fxFlex>{{item.id}}</div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div fxLayout="column">
        <mat-card-subtitle fxFlex fxLayoutAlign="center start">Üzembehelyezve:</mat-card-subtitle>
        <div fxLayout="row wrap">
          <div fxFlex><strong>Munkalap ssz:</strong></div>
          <div fxFlex><strong>Dátum:</strong></div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex>{{item.operationStart[0]}}</div>
          <div fxFlex>{{item.operationStart[1]}}</div>
        </div>
      </div>

      <br>
      <mat-divider></mat-divider>
      <br>

      <div fxLayout="column">
        <mat-card-subtitle fxFlex fxLayoutAlign="center start">Vizsgálat:</mat-card-subtitle>
        <div fxLayout="row wrap">
          <div fxFlex><strong>Munkalap ssz:</strong></div>
          <div fxFlex><strong>Dátum:</strong></div>
        </div>

          <div fxLayout="row wrap">
            <div fxFlex="50" *ngFor="let time of item.inspections; let i = index">{{time}}</div>
          </div>

      </div>

      <br>
      <mat-divider></mat-divider>
      <br>

      <div fxLayout="row wrap">
        <div fxFlex><strong>Karbantartás:</strong></div>
        <div fxFlex >
          <div fxLayout="column" *ngFor="let time of item.maintenance">
            <div fxFlex>
              {{time}}
            </div>
          </div>
        </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>

      <div fxLayout="row wrap">
        <div fxFlex><strong>Javítás:</strong></div>
        <div fxFlex >
          <div fxLayout="column" *ngFor="let time of item.repair">
            <div fxFlex>
              {{time}}
            </div>
          </div>
        </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>

    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-button color="primary">Szerkeszt</button>
    <button mat-button color="warn">Jegyzőkönyv</button>
  </mat-card-actions>
</mat-card>
