<section fxLayout="row wrap"fxLayoutAlign="start start">
  <div fxFlex="10" fxFlexOffset="80px">
    <button mat-fab color="warn" (click)="onClick()" class="btn">
      Vissza
    </button>
  </div>
  <div fxFlex fxFlexOffset="30px">
    <button mat-fab color="primary" (click)="onCreate()">
      Új
    </button>
  </div>
</section>

<mat-card class="example-card" *ngFor="let item of specProduct$ | async">
  <mat-card-header>
    <mat-card-title>{{product.type}} {{product.length}} {{product.descreption}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <br>
  <mat-card-content>
    <div>
      <div fxLayout="row wrap">
        <div fxFlex><strong>Üzemeltető:</strong></div>
        <div fxFlex>{{item.user}}</div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex><strong>Helyszín:</strong></div>
        <div fxFlex>{{item.site}}</div>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex><strong>Gyáriszám:</strong></div>
        <div fxFlex>{{item.id}}</div>
      </div>
      <br>
      <div fxLayout="column" fxLayoutAlign="center center" class="check">
        <mat-card-subtitle *ngIf="!p.checked" fxFlex>
          <strong> Feltöltésre kijelöl:</strong>
        </mat-card-subtitle>
        <div fxFlex>
          <mat-checkbox value="" color="primary" #p [(ngModel)]="p.checked" ></mat-checkbox>
        </div>
        <div fxFlex *ngIf="p.checked" style="padding: 8px 0 0 0">
          <strong> {{i}}. </strong> sorszámú munkalap <br> dátum feltöltése
        </div>
        <button fxFlex *ngIf="p.checked" mat-icon-button color="warn" (click)="p.checked=false">
          <mat-icon>backup</mat-icon>
        </button>
      </div>
      <br>
      <div fxLayout="column">
        <mat-card-subtitle fxFlex fxLayoutAlign="center start"><strong> Üzembehelyezve:</strong></mat-card-subtitle>
        <div fxLayout="row wrap">
          <div fxFlex><strong>Munkalap ssz:</strong></div>
          <div fxFlex><strong>Dátum:</strong></div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="50" *ngFor="let time of item.operationStart">{{time}}</div>
        </div>
      </div>

      <br>
      <mat-divider></mat-divider>
      <br>

      <div fxLayout="column">
        <mat-card-subtitle fxFlex fxLayoutAlign="center start"><strong> Vizsgálat:</strong></mat-card-subtitle>
        <div fxLayout="row wrap">
          <div fxFlex><strong>Munkalap ssz:</strong></div>
          <div fxFlex><strong>Dátum:</strong></div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="50" *ngFor="let time of item.inspections">{{time}}</div>
        </div>
      </div>

      <br>
      <mat-divider></mat-divider>
      <br>

      <div fxLayout="column">
        <mat-card-subtitle fxFlex fxLayoutAlign="center start"><strong> Karbantartás:</strong></mat-card-subtitle>
        <div fxLayout="row wrap">
          <div fxFlex><strong>Munkalap ssz:</strong></div>
          <div fxFlex><strong>Dátum:</strong></div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="50" *ngFor="let time of item.maintenance">{{time}}</div>
        </div>
      </div>

      <br>
      <mat-divider></mat-divider>
      <br>

      <div fxLayout="column">
        <mat-card-subtitle fxFlex fxLayoutAlign="center start"><strong> Javítás:</strong></mat-card-subtitle>
        <div fxLayout="row wrap">
          <div fxFlex><strong>Munkalap ssz:</strong></div>
          <div fxFlex><strong>Dátum:</strong></div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="50" *ngFor="let time of item.repair">{{time}}</div>
        </div>
      </div>

      <br>
      <mat-divider></mat-divider>
      <br>

    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-button color="primary">Szerkeszt</button>
    <button mat-button color="warn">Jegyzőkönyv</button>
  </mat-card-actions>
</mat-card>
