.logo {
    height: 80px;
}
.border {
    border: black solid 1px;
    padding: 8px;
}
#pdf {
  background-color: white;
  color: black;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .example-full-width {
    width: 100%;
  }