<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="50px">
  <button mat-raised-button (click)="back()" color="warn">Vissza</button>
  <button  mat-raised-button (click)="print()" color="primary">Nyomtat</button>
</div>
<br>
<div fxLayout="row wrap" fxLayoutAlign="space-around start">
  <form [formGroup] = "siteForm" class="example-form" (ngSubmit)="onSiteAdd(siteForm.value)" >
    <fieldset>
      <legend>Üzembehelyezés adatai: </legend>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Üzemeltetés helyszíne" value="" formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Üzembehelyező" value="" formControlName="info">
      <mat-hint align="end">* Kötelező </mat-hint>
      <div *ngIf="siteInfo.touched && siteInfo.invalid">Kötelező nevet adni!</div>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Üzembehelyezés időpontja"
      readonly (click)="picker.open()" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
        <mat-hint align="end">* Kötelező </mat-hint>
        <div *ngIf="dateInfo.touched && dateInfo.invalid">Kötelező kitölteni!</div>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!siteForm.valid">Adatok beillesztése nyomtatványba</button>
  </fieldset>
  </form>
</div>
<br>
<article id="pdf" style="border: black solid 1px;">
  <div style="margin-left: 5px; margin-top: 5px;">
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
  <div fxFlex="30" fxLayoutAlign="center center">
    
      <div class="logo">
        <img  class="logo" src="../../../assets/inspection.png"
              alt="H-ITB" style="margin-bottom: 0px">
      </div>
   
  </div>
  <div fxFlex="42">
    <div fxLayout="column" fxLayoutAlign="center center">
      <span class="mat-title" style="margin: 8px 0">ÜZEMBEHELYEZÉSI</span>
      <span class="mat-display-1" style="margin-bottom: 8px">JEGYZŐKÖNYV</span>
      <span class="mat-caption">Az Emelőgép Biztonsági Szabályzatáról szóló</span>
      <span class="mat-caption">47/1999 (VIII.4) GM rendelet melléklete szerint</span>
    </div>
  </div>
  <div fxFlex="25">
    <div fxLayout="column" fxLayoutAlign="center end" fxLayoutAlign.lt-md="center center" fxLayoutGap="6px">
     <span class="mat-caption" fxFlexOffset="16px">Jegyzőkönyv srsz:</span>
     <span style="border: solid black 2px; padding: 2px; min-width: 120px; text-align: center"><strong>  / {{gysz}}</strong></span>
     <span class="mat-caption">Gyártási szám:</span>
     <span style="border: solid black 2px; padding: 2px; min-width: 120px; text-align: center"><strong>{{gysz}}</strong></span>
    </div>
  </div>
</section>
<hr>
<div class="mat-caption" style="padding: 0 50px;">
  Az emelőgép munkavédelmi szempontú előzetes vizsgálata sikeresen lezárult. Jelen üzembehelyezési nyilatkozat alapján az emelőgép
  üzemeltetője a továbbiakban köteles annak rendeltetésszerű használatáról, biztonságos állapotának
  megörzéséről, az időszakos vizsgálatokról és a karbantartás szakszerű és rendszeres elvégzéséről
  gondoskodni!
</div>
<div class="mat-title" style="margin: 8px 0; text-align: center">
  <u>ÜZEMELTETŐ</u>
</div>
<br>
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px" fxLayoutAlign="space-between">
  <div fxFlex="50">
    Cégnév: <strong>{{user}}</strong>
  </div>
  <div fxFlex="50" *ngFor="let item of user$ | async">
    Cím: <strong>{{item.address}}</strong>
  </div>
  <div fxFlex="50">
    Üzemeltetés helyszíne: <strong>{{site}} </strong>
  </div>
</section>
<br>
<hr>
<div class="mat-title" style="margin: 8px 0; text-align: center">
  <u>EMELŐGÉP MEGNEVEZÉSE</u>
</div>
<br>
  <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
    <div fxFlex="33" class="border">
      Típus: <strong>{{type}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Hossz: <strong>{{length}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Megnevezés: <strong>{{descreption}}</strong>
    </div>
  </section>
  <br>
  <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
    <div fxFlex="33" class="border">
      Teherbírás: <strong>{{capacity}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Gyártó: <strong>{{manufacturer}}</strong>
    </div>
    <div fxFlex="33" class="border">
      Gyáriszám: <strong>{{gysz}}</strong>
    </div>
  </section>

<br>
<hr>
<div class="mat-title" style="margin: 8px 0; text-align: center">
  <u>ÜZEMBEHELYEZÉSI ELJÁRÁS MEGÁLLAPÍTÁSAI</u>
</div>
<br>
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
  <div fxFlex="20">
    A munka elvégzésének időpontjában:
  </div>
  <div fxFlex="60" fxLayoutAlign="center center">
    <span class="mat-headline"><strong>MEGFELELT</strong></span>
  </div>
</section>
<br>
<section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
  <div fxFlex="49.5" class="border">
    Üzembehelyezés időpontja: <strong>{{dates}}</strong>
  </div>
  <div fxFlex="49.5" class="border">
    Következő időszakos vizsgálat:
      <strong>{{dateNext}}{{dates | slice: 4:10}}</strong>

  </div>
  <div fxFlex="100"></div>
  <br>
  <div fxFlex="99" fxLayoutAlign="start start"  fxLayoutGap="16px">
    <div> Megjegyzés:</div>
    <div>
    <strong>........</strong>
    </div>
  </div>

</section>
<br>
<hr>
<br>
<div fxLayout="row wrap" fxLayoutGap="10px"> 
  <span fxFlex="45">
    Az elvégzett munka szakszerűségét igazolja: 
  </span> 
  <span style="text-align: center;">
    {{info}} 
  </span> 
</div>
<br><br><br>
<div style="text-align: center">
  <strong></strong>
  <div>Üzembehelyező</div>
</div>
<p>Dátum: Budapest, {{ today | date | slice: 7:12 }} {{ today | date | slice: 0:6 }}. </p>
  </div>
</article>
