<mat-toolbar color="primary" style="background-color: #3f51b5;">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home" routerLinkActive="active" fxLayout="row" fxLayoutAlign="start center">
      <h3>ETAR</h3> <strong class="mat-subheading-1">&#174;</strong>
      <span>
        <img src="./../../../assets/logo.webp" alt="logo" class="logo">
      </span>
    </a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="isAuth" routerLinkActive="active">
        <button mat-button [matMenuTriggerFor]="menu">
          <h2 >Nyilvántartás</h2>
        </button>
        <mat-menu #menu="matMenu">
            <a routerLink="/register/records">
          <button mat-menu-item><mat-icon class="mat-18">list</mat-icon>
          <span class="nav-caption" class="mat-small">Elvégzett munkálatok</span></button>
            </a>
            <a routerLink="/user/user">
          <button mat-menu-item><mat-icon>unarchive</mat-icon>
          <span class="nav-caption" class="mat-small">Emelőgépek, eszközök</span></button>
            </a>
        </mat-menu>
      </li>
      <li *ngIf="!isAuth" routerLinkActive="active">
        <button mat-button [matMenuTriggerFor]="menu">
          <h2 >Felhasználó</h2>
        </button>
        <mat-menu #menu="matMenu">
            <a routerLink="/login">
          <button mat-menu-item><mat-icon>how_to_reg</mat-icon>
          <span class="nav-caption" class="mat-small">Bejelentkezés</span></button>
            </a>
            <a routerLink="/signup" *ngIf="false">
          <button mat-menu-item><mat-icon>assignment_ind</mat-icon>
          <span class="nav-caption" class="mat-small">Új felhasználó</span></button>
            </a>
            <a routerLink="">
          <button mat-menu-item><mat-icon>receipt</mat-icon>
          <span class="nav-caption" class="mat-small">ÁSZF és Adatvédelmi Tájékoztató</span></button>
            </a>
        </mat-menu>
      </li>

      <li *ngIf="isAuth">
        <button mat-button [matMenuTriggerFor]="menu">
          <h2>{{userUid}}</h2>
        </button>
        <mat-menu #menu="matMenu">
            <a routerLink="/home" (click)="onLogout()">
          <button mat-menu-item><mat-icon>how_to_reg</mat-icon>
          <span class="nav-caption" class="mat-small">Kijelentkezés</span></button>
            </a>
            <a routerLink="">
          <button mat-menu-item><mat-icon>receipt</mat-icon>
          <span class="nav-caption" class="mat-small">ÁSZF és Adatvédelmi Tájékoztató</span></button>
            </a>
        </mat-menu>
      </li>

    </ul>
  </div>
</mat-toolbar>
