<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px">
    <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
  <button (click)="onCancel()" fxFlex mat-raised-button><mat-icon class="mat-18">skip_previous</mat-icon></button>
    <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
</div>
<mat-grid-list cols="{{w}}" rowHeight="1:1">
    <a [routerLink]="['/user/la/textile']" routerLinkActive="router-link-active" >
        <mat-grid-tile mat-elevation-z4 matRipple id='trigger' class="meal-photo">
            <mat-grid-tile-header>Körkötelek</mat-grid-tile-header>
            <img src="../../../../assets/irs_800_600.svg" alt="" style="height: 100%" >
        </mat-grid-tile>
    </a>

        <mat-grid-tile mat-elevation-z4 matRipple id='trigger' class="meal-photo">
            <img src="../../../../assets/irg_800_600.svg" alt="" style="height: 100%">
            <mat-grid-tile-header>PES függesztékek</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile mat-elevation-z4 matRipple id='trigger' class="meal-photo">
            <img src="../../../../assets/FlatWebbing_800_600.svg" alt="" style="height: 100%">
            <mat-grid-tile-header>Hevederek</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile mat-elevation-z4 matRipple id='trigger' class="meal-photo">
            <img src="../../../../assets/Fibre_800_600.svg" alt="" style="height: 100%">
            <mat-grid-tile-header>Sodrott és fonatolt műanyag kötelek</mat-grid-tile-header>
        </mat-grid-tile>
</mat-grid-list>
