
<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Az alábbi adatok kerülnek törlésre</mat-card-title>
      <mat-card-subtitle  align="center">(Figyelem! A művelet nem vonható vissza!)</mat-card-subtitle>
  <mat-card-content>
  <div fxLayout="column wrap" fxLayoutGap="40px" *ngFor="let item of record | async as list">

    <div fxLayout="row wrap" fxFlex>
      <div fxFlex><strong>Sorszám</strong></div>
      <div fxFlex >{{item.id}}</div>
    </div>
    <div fxLayout="row wrap" fxFlex>
      <div fxFlex><strong>Üzemeltető</strong></div>
      <div fxFlex>{{item.user}}</div>
    </div>
    <div fxLayout="row wrap" fxFlex>
      <div fxFlex><strong>Esemény</strong></div>
      <div fxFlex>{{item.action}}</div>
    </div>
    <div fxLayout="row wrap" fxFlex>
      <div fxFlex><strong>Időpont</strong></div>
      <div fxFlex>{{item.dateOfAction}}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <button mat-fab (click)="onSure(item.fid)" color="accent">
          <mat-icon class="mat-24">?</mat-icon>
      </button>
    </div>

  </div>


</mat-card-content>

  <mat-card-actions align="center">
    <button [disabled]="!isSure" mat-raised-button color="warn" (click)="deleteRec">Töröl</button>
    <button mat-raised-button color="primary" (click)="onCancel()">Mégse</button>
  </mat-card-actions>

  </mat-card>
</section>
