<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px">
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
<button (click)="onCancel()" fxFlex mat-raised-button><mat-icon class="mat-18">skip_previous</mat-icon></button>
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
</div>
<br>
<mat-accordion displayMode="default">
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <mat-expansion-panel [hideToggle]="false">
      <mat-expansion-panel-header>
          <mat-panel-title>Megengedett teherbírás?</mat-panel-title>
          <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-list aria-label="Roundsling selection">
        <mat-chip style="background-color: 	#a11477;" (click)="openSnackBar('type','irs 10', '1000 kg')">1000 kg</mat-chip>
        <mat-chip style="background-color: 	#008000;" (click)="openSnackBar('type','irs 20', '2000 kg')">2000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffff00;" (click)="openSnackBar('type','irs 30', '3000 kg')">3000 kg</mat-chip>
        <mat-chip (click)="openSnackBar('type','irs 40', '4000 kg')">4000 kg</mat-chip>
        <mat-chip style="background-color: 	#ff4040;" (click)="openSnackBar('type','irs 50', '5000 kg')">5000 kg</mat-chip>
        <mat-chip style="background-color: 	#8b0000;" (click)="openSnackBar('type','irs 60', '6000 kg')">6000 kg</mat-chip>
        <mat-chip style="background-color: 	#0000ff;" (click)="openSnackBar('type','irs 80', '8000 kg')">8000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 100', '10000 kg')">10000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 120', '12000 kg')">12000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 150', '15000 kg')">15000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 200', '20000 kg')">20000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 250', '25000 kg')">25000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 300', '30000 kg')">30000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 400', '40000 kg')">40000 kg</mat-chip>
        <mat-chip style="background-color: 	#ffa500;" (click)="openSnackBar('type','irs 500', '50000 kg')">50000 kg</mat-chip>
      </mat-chip-list>
  </mat-expansion-panel>

</div>

<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <mat-expansion-panel [hideToggle]="false">
      <mat-expansion-panel-header>
          <mat-panel-title>Hossz?</mat-panel-title>
          <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-list aria-label="Roundsling selection">
        <mat-chip (click)="openSnackBar('length','0,5/1 m')">0,5/1 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','1/2 m')">1/2 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','1,5/3 m')">1,5/3 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','2/4 m')">2/4 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','2,5/5 m')">2,5/5 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','3/6 m')">3/6 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','3,5/7 m')">3,5/7 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','4/8 m')">4/8 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','4,5/9 m')">4,5/9 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','5/10 m')">5/10 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','6/12 m')">6/12 m</mat-chip>
        <mat-chip (click)="openSnackBar('length','7/14 m')">7/14 m</mat-chip>
      </mat-chip-list>
  </mat-expansion-panel>

</div>

<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <mat-expansion-panel [(expanded)]="panel">
      <mat-expansion-panel-header>
        <mat-panel-title color="warn">
          Gyáriszám és gyártó megadása:
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap"fxLayoutGap="20px">
        <mat-form-field>
          <input matInput placeholder="Gyáriszám:" formControlName="id">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Gyártó:" formControlName="manufacturer">
        </mat-form-field>
      </div>
      <mat-action-row>
          <button [disabled]="!form.valid" type="submit" mat-raised-button
          matTooltip="Gyártó bevitele nem kötelező!"
          [matTooltipPosition]="tooltipposition" color="accent">Adatbevitel</button>
      </mat-action-row>
    </mat-expansion-panel>
  </form>
</div>
</mat-accordion>
<div class="list">
  <mat-card style="max-width: 350px;">
    <mat-card-header>
      <mat-card-title style="color: #E91E63;">{{products.type}} {{products.length}} {{products.descreption}}</mat-card-title>
      <mat-card-subtitle><strong>Gyáriszám:  {{gysz}}</strong></mat-card-subtitle>
    </mat-card-header>
    <img id="irs" mat-card-image src="../../../../../assets/IRS-körkötél.webp" alt="IRS">
    <mat-card-actions *ngIf="products.capacity && products.length && gysz">
      <button mat-raised-button color="accent" matTooltip="Amennyiben a fenti terméket még üzembe kell helyezni"
        style="margin-bottom: 10px; margin-left: 10px;" (click)="onOperationStart()">Üzembehelyezendő</button>
      <button mat-raised-button color="accent" matTooltip="Ha a fenti termék már üzembe van helyezve,
      az utolsó érvényes vizsgálat dátumának megadása után, átkerül a kiadható termékek listájába"
      [matTooltipPosition]="tooltipposition">Már üzembehelyezett</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="list-container">

  <div class="todo-container column-container">
    <div class="list">
      <h2>Üzembehelyezésre váró termékek</h2>
      <mat-card cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="example-image"></div>
          <mat-card-title>{{products.type}} {{products.length}} {{products.descreption}}</mat-card-title>
          <button mat-icon-button color="accent" matTooltip="Üzembehelyezés">
            <mat-icon class="mat-18">build</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Törlés">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
          <mat-card-subtitle><strong>Gyáriszám:  {{gysz}}</strong></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>


  <div class="todo-container column-container">
    <div class="list"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="new[0].products"
    [cdkDropListConnectedTo]="doneList"
    (cdkDropListDropped)="onDrop($event)">
      <h2>Kiadható termékek</h2>
      <p>központi elosztó</p>
      <mat-card *ngFor="let item of new[0].products" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.type}} {{item.length}} {{item.descreption}}</mat-card-title>
          <mat-card-subtitle><strong>Gyáriszám:  {{item.gysz}}</strong></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>


  <div class="done-container column-container">
    <div class="list"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="new[1].products"
    [cdkDropListConnectedTo]="todoList"
    (cdkDropListDropped)="onDrop($event)">
      <h2>Célállomás</h2>
      <p>{{new[2].info}}</p>
      <mat-card cdkDrag *ngFor="let item of new[1].products">
        <mat-card-header>
            <div mat-card-avatar class="image"></div>
          <mat-card-title>{{item.type}} {{item.length}} {{item.descreption}}</mat-card-title>
          <mat-card-subtitle><strong>Gyáriszám:  {{item.gysz}}</strong></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
{{user}}
