<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px">
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
<button (click)="onCancel()" fxFlex mat-raised-button><mat-icon class="mat-18">skip_previous</mat-icon></button>
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
</div>
<app-product-choice *ngIf="productGroup$ | async as p" [products]="p"
                      [user]="user" [group]="group" [descreption]="descreption">
</app-product-choice>

<app-product-container *ngIf="product$ | async as p" [products]="p"
                      [user]="user" [group]="group" [descreption]="descreption">
</app-product-container>
