<mat-card class="example-card" *ngFor="let item of specProduct$ | async">
  <mat-card-header>
    <mat-card-title>{{user}} felhasználó részére végzett munkálatok:</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <br>
  <mat-card-content>
    <div fxLayout="column">
      <label id="example-radio-group-label">Az alábbi munkálatokról készíthető jegyzőkönyv:</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteSeason">

        <div fxLayout="row wrap">
          <div fxFlex><strong>Munkalap ssz:</strong></div>
          <div fxFlex><strong>Dátum:</strong></div>
        </div>

        <div fxLayout="row wrap">

          <div fxFlex="50" *ngFor="let time of item.inspections as list; let i = index">
            <span style="padding-top: 6px"> {{time}}</span>
            <div fxFlex="20" fxFlexOffset="80px" fxLayoutAlign="start start">
              <mat-radio-button *ngIf="i % 2 !== 0" class="example-radio-button" [value]='list[i-1]' (click)="f('Vizsgálat', list[i])">
              </mat-radio-button>
              <br>
              <mat-divider></mat-divider>
              <br>
            </div>
          </div>

          <div fxFlex="50" *ngFor="let time of item.repair as list; let i = index">
              <span style="padding-top: 6px"> {{time}}</span>
            <div fxFlex="20" fxFlexOffset="80px" fxLayoutAlign="start start">
              <mat-radio-button *ngIf="i % 2 !== 0" class="example-radio-button" [value]='list[i-1]' (click)="f('Javítás', list[i])">
              </mat-radio-button>
              <br>
              <mat-divider></mat-divider>
              <br>
            </div>
          </div>

          <div fxFlex="50" *ngFor="let time of item.maintenance as list; let i = index">
              <span style="padding-top: 6px"> {{time}}</span>
            <div fxFlex="20" fxFlexOffset="80px" fxLayoutAlign="start start">
              <mat-radio-button *ngIf="i % 2 !== 0" class="example-radio-button" [value]='list[i-1]' (click)="f('Karbantartás', list[i])">
              </mat-radio-button>
              <br>
              <mat-divider></mat-divider>
              <br>
            </div>
          </div>

          <div fxFlex="50" *ngFor="let time of item.operationStart as list; let i = index">
              <span style="padding-top: 6px"> {{time}}</span>
            <div fxFlex="20" fxFlexOffset="80px" fxLayoutAlign="start start">
              <mat-radio-button *ngIf="i % 2 !== 0" class="example-radio-button" [value]='list[i-1]' (click)="f('Üzembehelyezés', list[i])">
              </mat-radio-button>
              <br>
              <mat-divider></mat-divider>
              <br>
            </div>
          </div>

        </div>
      </mat-radio-group>
      <mat-card-subtitle><strong>A kiválasztott munkavégzés: <span style="color: red">{{act}}</span></strong></mat-card-subtitle>
      <mat-card-subtitle><strong>Munkalap sorszáma: <span style="color: red">{{favoriteSeason}}</span></strong></mat-card-subtitle>
    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-raised-button (click)="onClick()" color="primary">Vissza</button>
    <button [disabled]="!favoriteSeason" (click)="onGo()" mat-raised-button color="warn" >Mehet</button>
  </mat-card-actions>
</mat-card>
