<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px">
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
<button (click)="onCancel()" fxFlex mat-raised-button><mat-icon class="mat-18">skip_previous</mat-icon></button>
  <span fxFlex='40' style="background-color: #607D8B"><mat-divider></mat-divider></span>
</div>
<br>
<div fxLayout="row wrap" fxLayoutAlign="space-around start">
  <form [formGroup] = "siteForm" class="example-form" (ngSubmit)="onSiteAdd(siteForm.value)" >
    <fieldset>
      <legend>Új felhasználási helyszín: </legend>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Megnevezés" value="" formControlName="name">
      <div *ngIf="siteName.touched && siteName.invalid">Kötelező nevet adni!</div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Egyéb jelölés" value="" formControlName="info">
      <mat-hint align="end">* Opcionális </mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!siteForm.valid">Feltölt</button>
  </fieldset>
  </form>

  <form [formGroup] = "operatorForm" class="example-form" (ngSubmit)="onOperatorAdd(operatorForm.value)">
    <fieldset>
      <legend>Új dolgozó: </legend>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Név" value="" formControlName="name">
      <div *ngIf="operatorName.touched && operatorName.invalid">Kötelező nevet adni!</div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Beosztás" value="" formControlName="position">
      <mat-hint align="end">* Opcionális </mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!operatorForm.valid">Feltölt</button>
  </fieldset>
  </form>
</div>
