section div p {
    color: #B0BEC5;
    font-size: 30px;
    text-shadow: 2px 3px 5px #3f51b5;
    margin: 20px 0 10px 0;
    }
section div + p {
    color: #B0BEC5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    }
.img {
  opacity: 0.9;
  width: 100%;
  height: auto;
  transform: scale(0.97);
  transition: transform 0.5s, opacity 0.5s;
}

.img:hover {
    opacity: 1;
    transform: scale(1.03);
}
.pos {

  text-align: center;
}
