<section fxLayout="column wrap">
  <div fxFlexAlign="start" fxFlex="50">
    <p>Elektronikus Terméknyilvántartó és Azonosító Rendszer</p>
  </div>
    <p>Az alábbi funkciók állnak rendelkezésre:</p>

  <mat-tab-group style="max-width: 99vw;">
    <mat-tab label="Időszakos Vizsgálatok">
      <p class="mat-typography">
      Emelőgépek időszakos vizsgálata EBSZ 7.2.1 pontja szerint.
      (szerkezeti-, fővizsgálat, biztonságtechnikai felülvizsgálat).
      A vizsgálatokat az MSZ 9721-1 szabványsorozatban magadottak szerint végezzük.
      </p>
      <p class="mat-typography">
      Jegyzőkönyvek alapján az elvégzett vizsgálatok dokumentálása a nyílvántartó renszerben.
      </p>
    </mat-tab>
    <mat-tab label="Karbantartás">
      <p class="mat-typography">
      Az emelőgép használati utasítása előírásai szerinti ellenőrzések, beállítások, kenések elvégzése.
      </p>
      <p class="mat-typography">
        Karbantartási munkalap alapján karbantartás dokumentálása a nyílvántartó rendszerben.
      </p>
    </mat-tab>
    <mat-tab label="Javítás">
      <p class="mat-typography">
        Az emelőgép biztonságos, üzemkész állapotának helyreállítása.
      </p>
      <p class="mat-typography">
        Javítási munkalap alapján javítás dokumentálása a nyílvántartó rendszerben.
      </p>
    </mat-tab>
    <mat-tab label="Üzembehelyezés">
      <p class="mat-typography">
      Első üzembehelyezést megelőző üzemszerű alkalmasság- és működőképesség ellenőrzése MSZ 6726-1:2011 szerint.
      </p>
      <p class="mat-typography">
        Emelőgép nyílvántartásba vétele.
      </p>
    </mat-tab>
  </mat-tab-group>
  </section>
  <br><br>
  <div style="margin: 8px auto; width: 90%">
    <img src="../../assets/image.png" alt="" class="img">
  </div>
