<section fxLayout="column wrap">
  <div fxFlexAlign="start" fxFlex="50">
    <p>Elektronikus Terméknyilvántartó és Azonosító Rendszer</p>
  </div>
    <p>Emelőgépek biztonságos üzemeltetését segítő nyílvántartás:</p>

  <mat-tab-group style="max-width: 99vw;">
    <mat-tab label="Üzembehelyezés">
      <p class="mat-typography">
        Emelőgép gyáriszáma és az üzemelés helyszíne szerinti nyílvántartásba vétel.
      </p>
      <p class="mat-typography">
        Első üzembehelyezést megelőző üzemszerű alkalmasság- és működőképesség ellenőrzésének dokumentálása MSZ 6726-1:2011 szerint.
      </p>

    </mat-tab>
    <mat-tab label="Időszakos Vizsgálatok">
      <p class="mat-typography">
        Jegyzőkönyvek alapján az elvégzett vizsgálatok dokumentálása a nyílvántartó renszerben.
      </p>
      <p class="mat-typography">
        Emelőgépek időszakos vizsgálata EBSZ 7.2.1 pontja szerint.
        (szerkezeti-, fővizsgálat, biztonságtechnikai felülvizsgálat).
        Vizsgálatok az MSZ 9721-1 szabványsorozatban magadottak szerint.
      </p>

    </mat-tab>
    <mat-tab label="Karbantartás">
      <p class="mat-typography">
        Karbantartási munkalap alapján karbantartás dokumentálása a nyílvántartó rendszerben.
      </p>
      <p class="mat-typography">
      Az emelőgép használati utasítása előírásai szerinti ellenőrzések, beállítások, kenések elvégzése.
      </p>

    </mat-tab>
    <mat-tab label="Javítás">
      <p class="mat-typography">
        Javítási munkalap alapján javítás dokumentálása a nyílvántartó rendszerben.
      </p>
      <p class="mat-typography">
        Az emelőgép biztonságos, üzemkész állapotának helyreállítása.
      </p>
    </mat-tab>

  </mat-tab-group>
  </section>
  <br><br>
  <div style="margin: 8px auto; width: 90%">
    <img src="../../assets/image.png" alt="" class="img">
  </div>
