
<button mat-button (click)="refresh()">Frissít</button>
<button mat-raised-button (click)="print()" color="primary">PDF</button>
<br>
<section id="pdf" style="margin-left: 8px">
<div fxLayout="column" fxLayoutAlign="center center">
  <span class="mat-title" style="margin: 8px 0">{{user | uppercase}} üzemeltető részére</span>
  <span class="mat-subtitle" style="margin-bottom: 8px"><strong>{{srsz}}. </strong> sorszámú munkalapon az alábbiak lettek elvégezve:</span>
</div>
<br>
<div fxLayout="row">
  <div fxFlex>
    <div fxLayout="column">
      <span><strong>gyáriszám</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let gysz of gyszArray">
        <p>{{gysz}}</p>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column">
      <span><strong>típus</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let type of typeArray">
        <p>{{type}}</p>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column">
      <span><strong>hossz</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let length of lengthArray">
        <p>{{length}}</p>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column">
      <span><strong>megnevezés</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let descreption of descreptionArray">
        <p>{{descreption}}</p>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column">
      <span><strong>munka</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let kind of kindArray">
        <p>{{kind}}</p>
      </div>
    </div>
  </div>
</div>
</section>
