
<button mat-button (click)="refresh()">Frissít</button>
<button mat-raised-button (click)="print()" color="primary">PDF</button>
<br>
<section id="pdf" style="margin-left: 8px">
<div fxLayout="column" fxLayoutAlign="center center">
  <span class="mat-title" style="margin: 8px 0">{{user | uppercase}} üzemeltető részére</span>
  <span class="mat-subtitle" style="margin-bottom: 8px"><strong>{{srsz}}. </strong> sorszámú munkalapon az alábbiak lettek elvégezve:</span>
</div>
<br>
<div fxLayout="row">
  <div fxFlex fxFlex.lt-sm="35">
    <div fxLayout="column">
      <span><strong>gy.szám</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let gysz of gyszArray">
        <p>{{gysz}}</p>
      </div>
    </div>
  </div>

  <div fxFlex fxHide.lt-sm>
    <div fxLayout="column">
      <span><strong>típus</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let type of typeArray">
        <p>{{type}}</p>
      </div>
    </div>
  </div>
  <div fxFlex fxHide.lt-sm>
    <div fxLayout="column">
      <span><strong>hossz</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let length of lengthArray">
        <p>{{length}}</p>
      </div>
    </div>
  </div>
  <div fxFlex fxHide.lt-md>
    <div fxLayout="column">
      <span><strong>megnevezés</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let descreption of descreptionArray">
        <p>{{descreption}}</p>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column">
      <span><strong>munka</strong></span>
      <mat-divider></mat-divider>
      <div fxFlex *ngFor="let kind of kindArray">
        <p>{{kind}}</p>
      </div>
    </div>
  </div>
</div>

<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="column" fxLayoutAlign="center center">
  <span class="mat-subtitle" style="margin-bottom: 8px">Beépített alkatrészek gyáriszámonkénti bontásban:</span>
</div>
<br>
<div fxLayout="row wrap">
  <div fxFlex>
    <span><strong>gy.szám</strong></span>
    <mat-divider></mat-divider>
  </div>
  <div fxFlex>
    <span><strong>mennyiség</strong></span>
    <mat-divider></mat-divider>
  </div>
  <div fxFlex>
    <span><strong>megnevezés</strong></span>
    <mat-divider></mat-divider>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex>
    <div fxLayout="column" *ngFor="let item of p1Array">
      <div fxFlex>{{item}}</div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column" *ngFor="let item of p2Array">
      <div fxFlex>{{item}}</div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column" *ngFor="let item of p3Array">
      <div fxFlex>{{item}}</div>
    </div>
  </div>

</div>
</section>
